{{!< default}}

{{#post}}

<header>
    {{#if @page.show_title_and_feature_image}}<h1>{{title}}</h1>{{/if}}
    {{#if custom_excerpt}}<p class="subtitle muted">{{custom_excerpt}}</p>{{/if}}
</header>

{{content}}

<p class="meta muted" style="text-align:center;margin-top:3rem;">Last updated {{date updated_at format="YYYY-MM-DD HH:MM z"}}</p>

{{/post}}